:root {
    --primery-color: #fff;
    --secondary-color: rgba(51, 51, 51, 0.873);
    --tertary-color :#333
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration:none; 
    font-family: 'Times New Roman', Times, serif;
}

main{
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
    background-image:url(/img/Fondo.jpg) ;
    background-repeat:no-repeat ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    color: var(--primery-color);
    background-color: var(--tertary-color) ;
    
}
footer p{
    margin: 0.5em 0 0.5em 0;
}


img{
    position: absolute;
    width: 100%;
    object-fit: cover;
}
#P1{
    color: #fff429;
    text-shadow: 0 1px 3px  #000 ;
}
#P2{
    color: #c8c8c8;
    text-shadow: 0 1px 3px #000 ;
}
#P3{
    color: #8e8006;
    text-shadow: 0 1px 3px #000 ;
}
.container{
    background-color: var(--tertary-color);
    padding: 0.75em;
    box-shadow: 0px 0px 20px 0cap;
    margin: 10px 0 10px 0;
    border-radius: 10px;
}
.title{
    font-size:1.75em;
    color: var(--primery-color);
    margin: 20px;
    border-bottom: solid 2px var(--primery-color);

}
.box{
    position: relative;
    min-width: 300px; 
}

.box .list{
    position: relative;
    display: flex;
    border-radius: 20px;
    padding: 12px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
    background-color: var(--primery-color);
}
.box:hover .list{
    filter: blur(5px);
    opacity: 0.25;
}
.box .list:hover{
    filter: blur(0px);
    opacity: 1;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.15);
    transform: scale(1.12);
}
.box .list .imgBox{
    position: relative;
    width: 100px;
    height: 100px;
    overflow:hidden;
    border-radius: 50%;
    margin-right: 20px;
}

.box .list .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#333;
}
.box .list .content .rank{
    position: absolute;
    right: -50px;
    font-size: 2em;
    transition: 0.5s;
}

.box .list:hover .content .rank{
    right: 25px;
    transition: all ease 0.5s;
}

.box .list .content h3{
    line-height: 1.2em;
    font-weight: 600;
    font-size:1.75em;
    color: var(--secondary-color);
    margin: 10px 0 15px 0;
    border-bottom: solid 1px ;
}
.box .list .content p{
    line-height: 0.75em;

}

@media (width < 350px) {
    .box .list .content h3 {
        margin: 5px 0 5px 0;
    }
    .box .list .content h3{
        font-size: 1.2em  ;
    }
    .title{
        margin: 10px;
        font-size: 1.5em;
    }
    .box .list .imgBox {
        width: 50px;
        height: 50px;
    }
    .box .list:hover{
        transform: scale(1.05);
    }
}